
.header{
    background-color: var(--colorGreyDark);
    height: 60rem;
    
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 111rem;
    height: 100%;
    margin: 0 auto;
}
/* Hero content */
.heroContent{
    max-width: 40%;
}
.heroContentOverline{
    color: #fafafa75;

    font-size: 1.4rem;
    font-weight: var(--fontWeightRegular);
    line-height: 1.9rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.heroContentHeading{
    color: var(--colorWhite);
    margin: 3rem 0;
}
.heroContentPara{
    color: #ffffffb3;
    width: 35rem;
    padding-bottom: 2rem;
    
    
}

/* hero Image */
.heroImageContainer{
    width: 60%;
    height: 100%;
    position: relative;
}
.heroImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -40px;
    right: 30px;
    
    
}
.productLink{
    font-size: 1.3rem;
    font-weight: var(--fontWeightBold);
    text-decoration: none;
    color: var(--colorWhite);
    padding: 1.2rem 2.6rem;
    border-radius: 1px;
    background-color: var(--primaryColor);
    transition: all 0.1s ;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.productLink:hover{
    background-color: var(--primaryColorLight);
}

